.app-container{
margin: 10px;
}

.nav{
  background-color: purple;
  color: white;
  padding: 20px;/* padding is space inside the box*/s
  border: solid 4px;
  border-radius: 20px;

}
.nav-item-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;


}
.nav-item-container > li {
  font-size: 12px;
  text-style: none;
}

.jumbotron{
  margin: 10px;
  padding: 20px;
  border: solid 4px blue;
  border-radius: 20px;

}


.myImg{
  max-width: 300px;
}

.chat-container{
display: flex;
flex-wrap: wrap;
}
.chat-container > div {
  width: 33.33333%;

}

.open-btn{
  background-color: red;
  border-radius: 20px;
  font-size: 24px;
}

.close-btn{
  background-color: green;
  border-radius: 10px;
  font-size: 20px;
}

.userCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px dotted red;
  width: calc(50% - 20px);/*px in equasion has to be 2x what the margin is.*/
  margin: 10px;
}

.userCard img {
  max-width: 90%;
  margin: 10px;
}
.userCardContainer{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}
